SERVER_PORT=8080

DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=sneakx_db
DB_USERNAME=root
DB_PASSWORD=

JWT_SECRET=
JWT_EXPIRATION=86400000

RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

OTP_LOG_CONSOLE=false

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=